<div class="row">
    <div class="col-6">
        <h2>Register</h2>
        @await Html.PartialAsync("_Register")
    </div>
</div>
<div class="row">
    <div class="col-6">
    <h2>Log In</h2>
         @await Html.PartialAsync("_LogIn")
    </div>
</div>